.chatContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 1rem;
  height: calc(100vh / 6);
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #222;
  color: #eee;
}

.messagesContainer {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #111;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e1ffc7;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}